.container					{width: 750px}
.edit-btn , .params-value	{float: right}
.params-value				{font-weight: bold;}
.gridster ul 				{list-style: none}
.input-list input: ;		{float: right;}
.gridster .gs-w 			{background: #f6f6f6; cursor: pointer; border: 1px dashed #ccc}
.gridster .preview-holder 	{border: none!important; background: red!important;}

#categories-list li 	{margin-bottom: 10px;list-style-type: square;}
#widget-editor-body		{min-height: 300px}
#parameters-links		{min-height: 15px; margin-bottom: 10px;}
#gridster-control-panel	{border-bottom: 1px dashed #ccc;margin-bottom: 5px;padding-bottom: 10px}

