.gridster ul {list-style: none}
.gridster .gs-w {background: #fff}
.gridster .preview-holder {border: none!important; background: red!important;}
.image-widget{}
    .image-widget-backdiv{
        background-size: contain;
        background-repeat: no-repeat;
        height: 100%;
        width: 100%;
    }

.product-title{
    font-size: 32px;
    text-align: center;
}